.register{
    width: 100%;
    background-color: #00BAFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    gap: 45px;
    h2{
        color: white;
        font-size: 36px;
    }
    p{
        color: white;
        font-size: 18px;
        width: 50%;
        text-align: center;
    }
    form{
        width: 500px;
        background-color: white;
        display: flex;
        flex-direction: column;
        // align-items: center;
        padding: 40px;
        border-radius: 10px;
        gap: 25px;
        input{
            width: 100%;
            padding: 20px;
            font-size: 18px;
            background-color: #F3F3F3;
            border: none;
            outline: none;
            border-radius: 5px;
        }
        select{
            width: 100%;
            padding: 20px;
            font-size: 18px;
            background-color: #F3F3F3;
            border: none;
            border-radius: 5px;
            color: gray;
            outline: none;
        }
        .register-btn__span{
            display: flex;
            width: 100%;
            justify-content: center;
            .register-btn{
                padding: 15px 40px;
                border: none;
                border-radius: 10px;
                color: white;
                font-size: 20px;
                cursor: pointer;
                background-color: #00BAFC;
                transition: 0.6s;
                &:hover{
                    box-shadow: 5px 5px 3px #00BAFC;
                }
            }
        }
    }
}
